[Unit]
Description=image-cleaner
Requires=docker.socket
After=docker.socket

[Service]
ExecStart=/bin/sh -c "docker images -aq | xargs docker rmi 2> /dev/null || true"

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true