[Unit]
Description=deis-cache

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=20m
ExecStartPre=/bin/sh -c "IMAGE=`/run/deis/bin/get_image /deis/cache` && docker pull $IMAGE"
ExecStartPre=-/bin/sh -c "docker rm -f %p"
ExecStart=/bin/sh -c '\
  IMAGE=`/run/deis/bin/get_image /deis/cache` && \
  docker run \
  --name %p \
  --rm \
  -p 6379:6379 \
  -e EXTERNAL_PORT=6379 \
  -e HOST=$COREOS_PRIVATE_IPV4 \
  $IMAGE'

ExecStopPost=-/usr/bin/docker rm -f %p
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=type=core
MachineMetadata=function=deis