[Unit]
Description=deis-router

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=20m
ExecStartPre=/bin/sh -c "IMAGE=`/run/deis/bin/get_image /deis/router` && docker pull $IMAGE"
ExecStartPre=-/bin/sh -c "docker rm -f %p"
ExecStart=/bin/sh -c '\
  IMAGE=`/run/deis/bin/get_image /deis/router` && \
  docker run \
  --name %p \
  --rm \
  -p 80:80 \
  -p 2222:2222 \
  -p 443:443 \
  -e EXTERNAL_PORT=80 \
  -e HOST=$COREOS_PRIVATE_IPV4 \
  $IMAGE'

ExecStopPost=-/usr/bin/docker rm -f %p
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
MachineMetadata=type=router
MachineMetadata=function=deis