[Unit]
Description=deis-builder

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=30m
ExecStartPre=-/bin/sh -c "docker rm -f %p"
ExecStartPre=-/bin/sh -c "docker rm -f %p-data"
ExecStartPre=/bin/sh -c "IMAGE=`/run/deis/bin/get_image /deis/builder` && docker pull $IMAGE"
ExecStartPre=/bin/sh -c '\
  docker run \
  --name %p-data \
  -v /var/lib/docker \
  ubuntu-debootstrap:14.04 \
  /bin/true'

ExecStartPre=-/bin/sh -c "/sbin/losetup -f"
ExecStart=/bin/sh -c '\
  IMAGE=`/run/deis/bin/get_image /deis/builder` && \
  docker run \
  --name %p \
  --rm \
  -p 2223:22 \
  --volumes-from=%p-data \
  -c 800 \
  -e EXTERNAL_PORT=2223 \
  -e HOST=$COREOS_PRIVATE_IPV4 \
  --privileged \
  -v /etc/environment_proxy:/etc/environment_proxy \
  $IMAGE'

ExecStartPost=/bin/sh -c "echo 'Waiting for builder on 2223/tcp...' && until echo 'dummy-value' | ncat $COREOS_PRIVATE_IPV4 2223 >/dev/null 2>&1; do sleep 1; done"
ExecStartPost=/usr/bin/docker exec %p /usr/local/bin/push-images
ExecStopPost=-/usr/bin/docker rm -f %p
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=type=core
MachineMetadata=function=deis

