[Unit]
Description=block malicious ssh connections
After=sshd.service
Requires=sshd.service

[Service]
ExecStart=bash -c "while true ; do echo "hello" ; sleep 1 done"

[X-Fleet]
MachineMetadata=bastion
