[Unit]
Description=block malicious ssh connections
After=sshd.service
Requires=sshd.service

[Service]
ExecStart=/usr/bin/cat <<'BASH_SCRIPT' | bash \
  while true \
  do echo "hello" \
  sleep 1 ; done \
BASH_SCRIPT

ExecStop=/bin/true

[X-Fleet]
MachineMetadata=bastion
