[Unit]
Description=deis-backup

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=20m
ExecStartPre=/bin/sh -c "docker history brandfolder/deis-backup-service >/dev/null || docker pull brandfolder/deis-backup-service"
ExecStartPre=/bin/sh -c "docker inspect deis-backup >/dev/null 2>&1 && docker rm -f deis-backup >/dev/null 2>&1 || true"
ExecStart=/bin/sh -c "docker run --rm --name deis-backup -e AWS_ACCESS_KEY=`etcdctl get /deis/backup/aws_access_key` -e AWS_SECRET_KEY=`etcdctl get /deis/backup/aws_secret_key` -e AWS_BACKUP_BUCKET=`etcdctl get /deis/backup/s3_bucket` -e DEIS_DOMAIN=`etcdctl get /deis/platform/domain` -e HOST=$COREOS_PRIVATE_IPV4 brandfolder/deis-backup-service"