[Unit]
Description=Restarts Deis Units, one at a time, and in 5 minute intervals
After=fleet.service
Requires=fleet.service

[Service]
ExecStart=/bin/bash -c '\
  set -e
  UNITS=`fleetctl list-units --fields unit | grep -E "_v[0-9]+\.[A-Za-z-]+\.[0-9]+"` ;\
  for UNIT in $UNITS ; do \
    fleetctl stop $UNIT ;\
    fleetctl start $UNIT ;\
done'

[X-Fleet]
MachineMetadata=function=deis
MachineMetadata=type=worker
