[Unit]
Description=Cleanup unused docker volumes
Wants=docker.service

[Service]
ExecStartPre=/usr/bin/docker pull tutum/cleanup
ExecStart=/usr/bin/docker run -d \
  --privileged \
  --cpu-quota 20000 \
  -v /var/run:/var/run:rw \
  -v /var/lib/docker:/var/lib/docker:rw \
  -e IMAGE_CLEAN_INTERVAL=1 \
  -e IMAGE_CLEAN_DELAYED=1800 \
  -e VOLUME_CLEAN_INTERVAL=1800 \
  tutum/cleanup

[X-Fleet]
Global=true
