[Unit]
Description=ElasticSearch service
After=docker.service
Requires=docker.service

[Service]
TimeoutSec=180
EnvironmentFile=/etc/environment

ExecStartPre=-/bin/sh -c "docker rm -f %p-%i"
ExecStartPre=/usr/bin/docker pull elasticsearch:latest
ExecStart=/bin/bash -c '\
  /usr/bin/docker run \
    --name %p-%i \
    --rm \
    --env "SERVICE_NAME=%p" \
    --env "SERVICE_TAGS=core" \
    elasticsearch:latest \
    elasticsearch \
    --node.name=%p-%i \
    --cluster.name="%p" \
    --discovery.zen.ping.multicast.enabled=false \
    --discovery.zen.ping.unicast.hosts=%p-9300.internal.services.brandfolder.host'

ExecStop=-/usr/bin/docker stop %p-%i
RestartSec=5
Restart=on-failure

[X-Fleet]
MachineMetadata=type=core
