[Unit]
Description=ElasticSearch service
After=docker.service
Requires=docker.service

[Service]
TimeoutSec=180
EnvironmentFile=/etc/environment

# Cleanup previous containers
ExecStartPre=-/bin/sh -c "docker rm -f %p"
ExecStartPre=-/bin/sh -c "docker rm -f %p-volumes"

# Pull latest images
ExecStartPre=/usr/bin/docker pull brandfolder/elasticsearch:latest
ExecStartPre=/usr/bin/docker pull brandfolder/shovel:latest

# Set up the volumes for this container
ExecStartPre=/bin/bash -c '\
    docker run \
    --name elasticsearch-volumes \
    --volume /usr/share/elasticsearch/data \
    --volume /usr/share/elasticsearch/config \
    alpine:latest \
    /bin/true'

# Copy default configuration to volume
ExecStartPre=/bin/bash -c '\
  echo "copying default config to volume..." ;\
  docker run --rm brandfolder/elasticsearch:latest tar -c usr/share/elasticsearch/config | \
  docker run --rm -i --volumes-from elasticsearch-volumes alpine:latest tar -xC /'

# Copy base logging.yml to etcd
ExecStartPre=/bin/bash -c '\
  etcdctl get /services/%p/logging.yml 2> /dev/null || \
  echo "copying default logging.yml to etcd..." && \
  docker run --rm brandfolder/elasticsearch:latest \
  cat /usr/share/elasticsearch/config/logging.yml | \
  base64 | \
  etcdctl set /services/%p/logging.yml'

# Copy base elasticsearch.yml to etcd
ExecStartPre=/bin/bash -c '\
  etcdctl get /services/%p/elasticsearch.yml 2> /dev/null || \
  echo "copying default elasticsearch.yml to etcd..." && \
  docker run --rm brandfolder/elasticsearch:latest \
  cat /usr/share/elasticsearch/config/elasticsearch.yml | \
  base64 | \
  etcdctl set /services/%p/elasticsearch.yml'

# Read configuration from etcd and apply it to elasticsearch
ExecStartPre=/bin/bash -c '\
    echo "reading elasticsearch.yml from etcd..." ;\
    etcdctl get /services/%p/elasticsearch.yml 2> /dev/null | base64 -d | docker run \
    --rm \
    --volumes-from %p-volumes \
    alpine:latest \
    sh -c "cat > /usr/share/elasticsearch/config/elasticsearch.yml"'

ExecStartPre=/bin/bash -c '\
    echo "reading logging.yml from etcd..." ;\
    etcdctl get /services/%p/logging.yml | base64 -d | docker run \
    --rm \
    --volumes-from %p-volumes \
    alpine:latest \
    sh -c "cat > /usr/share/elasticsearch/config/logging.yml"'

# Start elasticsearch
ExecStart=/bin/bash -c '\
    docker run \
    --name %p \
    --volumes-from %p-volumes \
    --rm \
    --env "SERVICE_NAME=%p" \
    --env "CLUSTER_NAME=%p" \
    --env "NODE_NAME=%n" \
    --env "SERVICE_TAGS=core" \
    brandfolder/elasticsearch:latest \
    elasticsearch \
    --node.name=%p \
    --cluster.name="%p" \
    --discovery.zen.ping.multicast.enabled=true \
    --discovery.zen.ping.unicast.hosts=$(docker run --rm brandfolder/shovel dig %p.internal.services.brandfolder.host -p 9300 -Wei)'

ExecStop=-/usr/bin/docker stop %p
RestartSec=5
Restart=on-failure

[X-Fleet]
MachineMetadata=type=core