[Unit]
Description=ElasticSearch service
After=docker.service
Requires=docker.service

[Service]
TimeoutSec=180
EnvironmentFile=/etc/environment

ExecStartPre=/usr/bin/mkdir -p /data/elasticsearch
ExecStartPre=/usr/bin/docker pull elasticsearch:latest

ExecStart=/bin/bash -c '\
  /usr/bin/docker run \
    --name %p \
    --volume /data/elasticsearch:/usr/share/elasticsearch/data \
    --env "SERVICE_TAGS=core" \
    elasticsearch:latest \
    elasticsearch \
    --node.name=%p-%i \
    --cluster.name="production-elasticsearch" \
    --discovery.zen.ping.multicast.enabled=false \
    --discovery.zen.ping.unicast.hosts=%p.internal.services.brandfolder.host'

ExecStop=/usr/bin/docker stop %p
ExecStop=/usr/bin/docker rm %p
RestartSec=5
Restart=on-failure

[X-Fleet]
MachineMetadata=type=core
