[Unit]
Description=Loggly
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker stop loggly
ExecStartPre=-/usr/bin/docker rm loggly
ExecStartPre=/usr/bin/docker pull psev/loggly

ExecStart=/bin/sh -c '\
  /usr/bin/docker run --name %p \
  -v /var/run/docker.sock:/var/run/docker.sock \
  psev/loggly \
  -t `etcdctl get /loggly.com/token` \
  -d unix:///var/run/docker.sock'

ExecStop=/usr/bin/docker stop loggly

[X-Fleet]
Global=true
