[Unit]
Description=newrelic-sysmond
Requires=docker.service
After=docker.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=20m
ExecStartPre=-/usr/bin/docker rm -f %p 2> /dev/null
ExecStartPre=/usr/bin/docker pull brandfolder/newrelic-aws-platform
ExecStart=/bin/sh -c "\
  docker run --rm --name %p \
  -e AWS_ACCESS_KEY_ID=`etcdctl get /aws.amazon.com/access_key_id` \
  -e AWS_SECRET_ACCESS_KEY=`etcdctl get /aws.amazon.com/secret_access_key` \
  -e NEW_RELIC_LICENSE_KEY=`etcdctl get /newrelic.com/key` \
  -e NEW_RELIC_AWS_MONITOR_EC2=1 \
  -e NEW_RELIC_AWS_MONITOR_EBS=1 \
  -e NEW_RELIC_AWS_MONITOR_ELB=1 \
  -e NEW_RELIC_AWS_MONITOR_RDS=1 \
  -e NEW_RELIC_AWS_MONITOR_SQS=1 \
  -e NEW_RELIC_AWS_MONITOR_SNS=1 \
  -e NEW_RELIC_AWS_MONITOR_EC=1 \
  -e NEW_RELIC_AWS_MONITOR_ECR=1 \
  brandfolder/newrelic-aws-platform \
  "
ExecStopPost=-/usr/bin/docker stop %p
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=type=core