[Unit]
Description=Loggly
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker rm -f %p
ExecStartPre=/usr/bin/docker pull gliderlabs/logspout
ExecStart=/bin/sh -c '\
  /usr/bin/docker run \
  --name %p \
  --volume=/var/run/docker.sock:/tmp/docker.sock \
  gliderlabs/logspout \
  syslog://`etcdctl get /papertrail.com/docker/host`:`etcdctl get /papertrail.com/docker/port`'

ExecStop=/usr/bin/docker stop %p
Restart=always
RestartSec=5

[X-Fleet]
Global=true
