[Unit]
Description=Loggly
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=0

ExecStartPre=-/usr/bin/docker rm -f %p
ExecStartPre=/usr/bin/docker pull psev/loggly

ExecStart=/bin/sh -c '\
  /usr/bin/docker run \
  --name %p \
  --volume /var/run/docker.sock:/var/run/docker.sock \
  gliderlabs/logspout \
  syslog://logs2.papertrailapp.com:`etcdctl get /papertrail.com/port`'

ExecStop=/usr/bin/docker stop %p

[X-Fleet]
Global=true
