[Unit]
Description=Docker Registrator - flannel network
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=300
ExecStartPre=-/bin/sh -c "docker rm -f %p 2> /dev/null"
ExecStartPre=/usr/bin/docker pull gliderlabs/registrator:v4
ExecStart=/bin/sh -c 'docker run --rm --name %p -h $HOSTNAME -v /var/run/docker.sock:/tmp/docker.sock gliderlabs/registrator:v4 -ip $COREOS_PUBLIC_IPV4 -ttl `etcdctl get /registrator/ttl 2> /dev/null || echo 300` -ttl-refresh `etdctl get /registrator/ttl-refresh 2> /dev/null || echo 30` skydns2://$COREOS_PRIVATE_IPV4:4001/services.brandfolder.host'
ExecStop=-/usr/bin/docker stop %p
Restart=always

[X-Fleet]
Global=true
